*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
.Login-section{
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loging-Box{
  width: 30%;
  height: 80%;
}
.loginHeading{
  height:60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
form{
  padding-inline: 20px;
}

